@import '../../styles/common.scss';

.bgGraph {
  display: flex;
  flex-direction: column;
  height: 100%; // Needed for scroll number selectors

  .error,
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 30px;
    color: rgb(202, 231, 188);
  }

  .graphBottom {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 0; // Needed for scroll number selectors
  }
}
