.bgGraph {
  display: flex;
  flex-direction: column;
  height: 100%; // Needed for scroll number selectors

  .error,
  .loading {
    padding: 30px;
  }

  .graphBottom {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 0; // Needed for scroll number selectors
  }
}
