.nb-BgGraphScreen {

  .nb-TimeRangeSelector {

    > select {
      padding: 8px 12px;
      font-size: 16px;
      border: 1px solid #e4e3e3;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: 0;
      color: #666;
      background: white;
      cursor: pointer;
      position: absolute;
      top: 72px;
      z-index: 100;
      right: 18px;

      &::-ms-expand {
        display: none; /* remove arrow in IE 10 and 11 */
      }

      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }
    }
  }
}
