.nb-TimelineDebugScreen {
  &-modalOverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &-modalContent {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background: rgb(255, 255, 255);
    overflow: auto;
    outline: none;
    padding: 20px;
  }

  &-model {
    width: 100%;
    height: 200px;
    font-family: 'Courier New', Courier, monospace;
  }

  &-profileActivation {
    cursor: pointer;
  }

  > .nb-TimeRangeSelector {
    display: inline-block;
  }
}
