.timeline {
  position: relative; // a lot of children are positioned according to this root element
  overflow: hidden; // if anything pokes out; hide it; scrolling is implemented using a separate element

  .baseLayerCss {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .scrollingLayerCss {
    @extend .baseLayerCss;
    overflow-x: scroll;
    overflow-y: hidden;

    // IMPORTANT: Even though this doesnt seem to be needed for momentum scrolling anymore (tested on iOS 13.3);
    // at least SVG elements within a scroll container may randomly skip repaints without it. ¯\_(ツ)_/¯
    -webkit-overflow-scrolling: touch;
  }

  .scrollingCutoffCss {
    overflow: hidden;
    position: relative;
  }

  .svgCss {
    display: block;
    z-index: 9;
  }

  .latestBg {
    position: absolute;
    font-size: 20px;
    z-index: 100;
    pointer-events: none;
  }
}

.timelineGraphBg {
  stroke: #ccc;
  stroke-width: 1;
  fill: none;
}

.timelineMarkerBg {
  r: 3.7; // Blood sugar dot radius
  stroke: white;
  stroke-width: 1;
}

.timelineScaleTime {
  position: absolute;
  bottom: 0;
  border-left: 1px solid #eee;
  top: 0;
  display: flex;
  align-items: flex-end; // i.e. bottom-align the text
  pointer-events: none;
  z-index: -1;

  .timelineScaleHour {
    position: absolute;
    left: -19px;
    bottom: 0;
    padding-bottom: 7px;
    padding-top: 4px;
    background: white;
    font-size: 14px;
    color: #999;
  }
}

.timelineScaleBg {
  .goodBg {
    position: absolute;
    height: 74px;
    background: #f3f9f2;
    z-index: -1;
  }

  .bgAxis {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    pointer-events: none;

    .bgLabel {
      position: absolute;
      left: 0;
      right: 0;
      font-size: 10px;
      color: #aaa;
      text-align: left;
      pointer-events: none;
    }
  }
}

$WIDTH_CLICKABLE: 20px;
$WIDTH_LINE: 1px;
$WIDTH_MAX: 65px;
$BUBBLE_SIZE: 38px;

.timelineMarker {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $WIDTH_CLICKABLE;
  margin-left: $WIDTH_CLICKABLE / -2;
  cursor: pointer;

  .verticalLine {
    position: absolute;
    top: 32px;
    left: $WIDTH_CLICKABLE / 2 - $WIDTH_LINE / 2;
    width: $WIDTH_LINE;
    bottom: 27px;
    z-index: -1;
    border-left: 1px dashed #bbb;

    .profile {
      width: 0;
      border-left: 3px dotted #bbb;
    }
  }

  .centeringWrapper {
    position: absolute;
    top: 10px;
    left: ($WIDTH_MAX - $WIDTH_CLICKABLE) / -2;
    width: $WIDTH_MAX;
    right: 0;
    text-align: center;
  }

  .textLabel {
    border: none;
    border-radius: 100px;
    padding: 0;
    background: none;
    font-size: 14px;
    color: #777;
    z-index: 1;
  }

  .textLabelSelected {
    border: 1px solid #bbb;
    border-radius: 15px;
    padding: 4px 8px;
    background: white;
    font-size: 14px;
    color: #777;
    z-index: 1;
  }

  .numberBubble {
    background: gray;
    margin: 35px auto 0 auto;
    width: $BUBBLE_SIZE;
    height: $BUBBLE_SIZE;
    line-height: $BUBBLE_SIZE;
    border-radius: 100%;
    border: 1px solid white;
    font-size: 14px;

    &.carbs {
      background: #9ad5b3;
      color: white;
      margin-top: 240px;
    }

    &.insulin {
      background: #ee776e;
      color: white;
    }
  }
}
