.profileSelector {
  background: #ffe7b3;
  border: 1px solid #f3d9a1;
  color: #a89442;
  border-radius: 6px;
  font-weight: lighter;
  height: 34px;
  padding: 0 5px;
  width: 100%;
  font-size: 16px;
}
