.nb-NightbearUi {
  display: flex;
  flex-direction: column;

  > .nb-MainNavBar {
    height: 45px;
    margin-bottom: 10px;
  }

  &-screen {
    flex: 1;
    overflow: hidden; // screens should take care of their own overflow behaviour, if any
  }
}
