.nb-NightbearUi {
  display: flex;
  flex-direction: column;

  > .nb-MainNavBar {
    height: 45px;
    margin-bottom: 10px;
  }

  &-screen {
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
