.fieldWithLabel {
  position: relative;

  .label {
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 0 0 3px 2px;
  }

  .field {
    display: block;
    font-size: 16px;
  }

  .unit {
    position: absolute;
    bottom: 8px;
    right: 10px;
  }
}
