.nb-ScrollNumberSelector {
  overflow-x: hidden;
  overflow-y: scroll;

  > div {
    color: white;
    font-size: 150%;
    text-align: center;
    padding: 13px;
    cursor: pointer;
  }

  &-selected {
    background: gray;
    opacity: 0.3;
  }
}
