.nb-ScrollNumberSelector {
  overflow-x: hidden;
  overflow-y: scroll;

  div {
    color: white;
    font-size: 140%;
    text-align: center;
    padding: 13px;
    cursor: pointer;
  }

  &-selected {
    background: white;
    opacity: 0.7;
    color: grey !important;
  }
}
