.nb-App {
  display: flex;
  flex-direction: column;

  > .nb-MainNavBar {
    height: 45px;
  }

  &-screenContainer {
    flex: 1;
    overflow: auto; // if the screen overflows its container, let it scroll
  }
}
