.nb-Timeline {
  position: relative;
  border: 1px dotted gray;
  overflow: hidden;

  &-staticLayer,
  &-scrollingLayer {
    position: absolute;
    top: 0;
    left: 0;
    // width: 100%;
    // height: 100%;
    bottom: 0;
    right: 0;
    // border: 1px solid red;

    > svg {
      display: block;
    }
  }

  &-scrollingLayer {
    overflow-x: scroll;
    // overflow-x: hidden; // TEMP TEMP
    overflow-y: hidden;
    // border: 1px solid green;

    // IMPORTANT: Even though this doesn't seem to be needed for momentum scrolling anymore (tested on iOS 13.3),
    // at least SVG elements within a scroll container will skip repaints without it. ¯\_(ツ)_/¯
    -webkit-overflow-scrolling: touch;
  }

  &-point-bg {
    r: 5;
    stroke: red;
    stroke-width: 2;
    fill: blue;
  }

  // &-bgScale {
  //   position: absolute;
  //   top: 0;

  // }
}
