@import 'ui/NightbearUi';
@import 'ui/utils/DbStatusBar';
@import 'ui/utils/MainNavBar';
@import 'ui/utils/TimelineModelTable';
@import 'ui/utils/TimelineModelGraph';
@import 'ui/utils/ScrollNumberSelector';
@import 'ui/screens/TimelineDebugScreen';
@import 'ui/screens/BgGraphScreen';

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; // scrolling will be implemented by containers, where needed

  > .nb-NightbearUi {
    width: 100%;
    height: 100%;
  }
}

* {
  box-sizing: border-box;
}
